<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body> -->

  <!-- <h1>Footer</h1> -->
  <footer class="footer bg-dark bg-black py-3 mt-auto text-center text-white ">
  
     &copy; CrowdSourcedHotels 2023
    
  </footer>
  
<!-- </body>
</html> -->